@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: Poppins-Bold;
  src: url(/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: Poppins-SemiBold;
  src: url(/fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: Poppins-Medium;
  src: url(/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: Poppins-Regular;
  src: url(/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins-Light;
  src: url(/fonts/Poppins-Light.ttf);
}

/* Headers */
h1,
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 16px;
}

@layer components {
  .loginPageMainImg {
    background-image: url(./assets/pictures/cropped-3840-2160-718142.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
  }
  .loginPageImg {
    background-image: url(./assets/pictures/cropped-3840-2160-380542.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.custom-shape {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 95px;
}
.custom-shape2 {
  width: 100px;
  height: 49px;
  overflow: hidden;
  position: absolute;
  left: 390px;
  bottom: 0px;
}
.custom-shape::before,
.custom-shape2::before {
  content: "";
  display: block;
  width: 200%;
  height: 200%;
  position: absolute;
  border-radius: 50%;
  bottom: 0;
  left: 0;
  box-shadow: -50px 50px 0 0 white;
}
