@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: Poppins-Bold;
  src: url(/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: Poppins-SemiBold;
  src: url(/fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: Poppins-Medium;
  src: url(/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: Poppins-Regular;
  src: url(/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins-Light;
  src: url(/fonts/Poppins-Light.ttf);
}

/* Headers */
h1,
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 16px;
}