/* Sidebar Icons */
.wallet-icon {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.wallet-icon:hover .wallet-icon-fill {
  fill: #00ff6b;
}
.wallet-icon:hover .wallet-icon-stroke {
  stroke: #00ff6b;
}

.comment-icon {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-icon:hover .comment-icon-fill {
  fill: #00ff6b;
}

.message-icon {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.message-icon:hover .message-icon-fill {
  fill: #00ff6b;
}

.chart-icon {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.chart-icon:hover .chart-icon-stroke {
  stroke: #00ff6b;
}
.chart-icon:hover .chart-icon-fill {
  fill: #00ff6b;
}

.dashboard-icon {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.dashboard-icon-path {
  fill: #00ff6b;
  stroke: #00ff6b;
}
